/* Ajustes generales */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    color: #333;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

/* Estilo para las tarjetas */
.card {
    border: none;
}

.card-title {
    font-size: 1.5rem;
    color: #343a40;
}

.card-text {
    color: #6c757d;
}

.card-footer {
    background-color: #ffffff;
}

.card-footer .btn {
    width: 100%;
}

/* Estilo para la sección de artículos */
article img {
    border-bottom: 5px solid #6c757d;
}

article h3 {
    color: #495057;
    font-weight: bold;
    margin-bottom: 10px;
}

